$colors: (
    primary: (
        base: #9a3137
    ),
    secondary: (
        base: #687c85
    ),
    tertiary: (
        base: #262424
    ),
    complementary: (
        _white: #ffffff
    )
);
