@import 'variables';
@import 'mixins';

.infoButton {
    background-color: color(tertiary, base);
    border: 0;
    color: color(complementary, _white);
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    transition: background-color .5s ease-in-out;

    &:hover {
        background-color: color(secondary, base);
    }

    &.is-active {
        background-color: color(primary, base);
    }
}
